<div class="wrapper fadeInDown">
  <div id="formContent" *ngIf="!isLoading">

    <div *ngIf="isLoading">
      <app-loading-spinner></app-loading-spinner>
    </div>

    <div class="alert alert-warning" role="alert" *ngIf="error">
      <p>{{ error }}</p>
    </div>

    <!-- Tabs Titles -->

    <!-- Login Form -->
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
      <input type="text" id="email" class="fadeIn second" name="email" placeholder="email" ngModel name="email" email
        required>
      <input type="text" id="password" class="fadeIn third" name="password" placeholder="password" ngModel
        name="password" password required minlength="6">
      <input type="submit" class="fadeIn fourth" value="{{ isLoginMode ? 'Login' : 'Sign up'}}"
        [disabled]="!authForm.valid" [ngClass]="{'disabled' : !authForm.valid }">
      <input type="button" class="fadeIn fourth" value="Switch to {{ isLoginMode ? 'Sign up' : 'Login' }}"
        (click)="onSwitchLogin()">
    </form>

    <!-- Remind Passowrd -->
    <!-- <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div> -->

  </div>
</div>
