<div class="row">
    <div class="col-sm-12 pb-2 pt-2">
        <button class="btn btn-success">Nouvelle recette</button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <ul class="list-group">
            <li *ngFor="let recette of recettes" class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <h4>{{recette.nomRecette}}</h4>
                    <p>{{recette.description}}</p>
                </div>
                <div class="">
                    <img src={{recette.imageChemin}} class="img-thumbnail" alt="quixote">
                </div>
            </li>
        </ul>
    </div>
</div>