<div class="row">
    <div class="col">
        <img src="" alt="" class="img-thumbnail">
    </div>
</div>
<div class="row">
    <div class="col">
        <h1>Nom de la recette</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Gérer la recette
            </a>
          
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Acheter</a>
              <a class="dropdown-item" href="#">Editer la recette</a>
              <a class="dropdown-item" href="#">Supprimer la recette</a>
            </div>
          </div>
    </div>
</div>
<div class="row">
    <div class="col">
        Description
    </div>
</div>
<div class="row">
    <div class="col">
        Ingredients
    </div>
</div>