<div class="row">
    <div class="col">
        <img src={{selectedRecette.imageChemin}} alt="" class="img-fluid recette-img">
    </div>
</div>
<div class="row">
    <div class="col">
        <h1>{{selectedRecette.nomRecette}}</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <div ngbDropdown>
            <a ngbDropdownToggle class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownRecette" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Gérer la recette
            </a>
          
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownRecette">
              <a ngbDropdownItem class="dropdown-item" href="#">Acheter</a>
              <a ngbDropdownItem class="dropdown-item" href="#">Editer la recette</a>
              <a ngbDropdownItem class="dropdown-item" href="#">Supprimer la recette</a>
            </div>
          </div>
    </div>
</div>
<div class="row">
    <div class="col">
        {{selectedRecette.description}}
    </div>
</div>
<div class="row">
    <div class="col">
        <p>liste ingredients</p>
    </div>
</div>