<nav class="navbar navbar-expand-md navbar-dark  bg-dark justify-content-end">
  <a class="navbar-brand">Recette book v.1</a>
  <button (click)="isMenuCollapsed = !isMenuCollapsed" class="navbar-toggler ml-auto" type="button"
    data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [ngbCollapse]="isMenuCollapsed" class="navbar-collapse justify-content-end" id="navbarNavDropdown">
    <ul class="navbar-nav align-items-end">
      <li class="nav-item" (click)="isMenuCollapsed = true" style="cursor:pointer" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/recettes']">Liste recettes <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" (click)="isMenuCollapsed = true" style="cursor:pointer" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/achats']">Acheter des ingredients</a>
      </li>
    </ul>
  </div>
  <div ngbDropdown style="cursor:pointer">
    <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false" style="color: white">
      Gérer la liste
    </a>
    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
      <a ngbDropdownItem class="dropdown-item" (click)="onSauvegarderRecette()">Sauvegarder des données</a>
      <a ngbDropdownItem class="dropdown-item">Charger des données</a>
    </div>
  </div>

  <!-- <div class="nav-item" ngbDropdown>
    <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdownMenuLink" role="button">
      Static right
    </a>
    <div ngbDropdownMenu aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu dropdown-menu-right">
      <a ngbDropdownItem (click)="$event.preventDefault()">Action</a>
      <a ngbDropdownItem (click)="$event.preventDefault()">Another action</a>
      <a ngbDropdownItem (click)="$event.preventDefault()">Something else here</a>
    </div>
  </div> -->
</nav>
