<div class="row">
  <div class="col-sm-12">
    <app-edition-achats></app-edition-achats>
    <hr>
    <div class="list-group">
      <ul class="list-group">
        <li *ngFor="let ingredient of ingredients;let i = index" [ngClass]="{'active': selectedItem == i }"
          class="list-group-item list-group-item-action
          d-flex justify-content-between align-items-center" style="cursor: pointer" (click)="onEditIngredient(i)">
          {{ingredient.nom}}
          <span class="badge badge-primary badge-pill">{{ingredient.quantite}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
